/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @config "../../tailwind.config.ts"; */

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* deepskyblue */
  --color-deepskyblue: hsl(195, 100%, 50%, 0.9);
  --color-deepskyblue-variant: hsl(195, 100%, 50%, 0.2);

  /* darksteelblue*/
  --color-darksteelblue: hsl(207, 44%, 10%);
  --color-darksteelblue-variant: hsl(207, 44%, 13%, 0.8);

  /* lightseagreen */
  --color-lightseagreen: hsl(177, 70%, 41%, 0.9);
  --color-lightseagreen-variant: hsl(177, 70%, 41%, 0.2);

  /* darkaqua */
  --color-darkaqua: hsl(180, 100%, 10%);
  --color-darkaqua-variant: hsl(180, 100%, 10%, 0.8);

  /* darkgreen */
  --color-darkgreen: hsla(177, 93%, 26%, 0.792);
  --color-darkgreen-variant: rgba(17, 60, 58, 0.2);

  /* peachpuff */
  --color-peachpuff: hsl(28, 100%, 86%, 0.9);
  --color-peachpuff-variant: hsl(28, 100%, 86%, 0.2);

  /* darkpapayawhip */
  --color-darkpapayawhip: hsl(37, 100%, 10%);
  --color-darkpapayawhip-variant: hsl(37, 100%, 10%, 0.8);

  /* salmon */
  --color-salmon: hsl(6, 93%, 71%, 0.9);
  --color-salmon-variant: hsl(6, 93%, 71%, 0.2);

  /* darkcrimson */
  --color-darkcrimson: hsl(348, 83%, 10%);
  --color-darkcrimson-variant: hsl(348, 83%, 10%, 0.8);

  /* orchid */
  --color-orchid: hsl(302, 59%, 65%, 0.9);
  --color-orchid-variant: hsl(302, 59%, 65%, 0.2);

  /* darklavender */
  --color-darklavender: hsl(240, 67%, 10%);
  --color-darklavender-variant: hsl(240, 67%, 10%, 0.8);

  /* blueviolet */
  --color-blueviolet: hsl(271, 76%, 53%, 0.9);
  --color-blueviolet-variant: hsl(271, 76%, 53%, 0.2);

  /* lavender */
  --color-lavender: hsl(240, 67%, 10%);
  --color-lavender-variant: hsl(240, 67%, 10%, 0.8);

  /* lemonchiffon */
  --color-lemonchiffon: hsl(54, 100%, 90%, 0.99);
  --color-lemonchiffon-variant: hsl(54, 100%, 90%, 0.2);

  /* darkkhaki */
  --color-darkkhaki: hsl(56, 38%, 10%);
  --color-darkkhaki-variant: hsl(156, 38%, 10%, 0.8);

  /* gold */
  --color-gold: hsl(51, 100%, 50%, 0.9);
  --color-gold-variant: hsl(51, 100%, 50%, 0.2);

  /* darkmoccasin */
  --color-darkmoccasin: hsl(38, 100%, 10%);
  --color-darkmoccasin-variant: hsl(38, 100%, 10%, 0.8);

  /* darkmoccasin */
  --color-chocolatefondue: hsl(17, 100%, 31%);
  --color-chocolatefondue-variant: hsl(17, 100%, 31%, 0.8);

  /* pantone */
  --color-pantone: hsl(9, 86%, 58%);
  --color-pantone-variant: hsl(9, 86%, 58%, 0.8);

  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-4xl: 75%;
  --container-width-3xl: 80%;
  --container-width-2xl: 85%;
  --container-width-xl: 90%;
  --container-width-lg: 94%;
  --container-width-md: 96%;
  --container-width-sm: 100%;
  --container-width-full: 100%;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */

    --color-primary: var(--color-deepskyblue);
    --color-primary-variant: var(--color-deepskyblue-variant);

    --color-secondary: var(--color-darksteelblue);
    --color-secondary-variant: var(--color-darksteelblue-variant);

    --color-tertiary: var(--color-gold);
    --color-tertiary-variant: var(--color-gold-variant);

    --secondary: var(--color-secondary);
    --primary: var(--color-primary);
    --secondary-variant: var(--color-secondary-variant);
    --primary-variant: var(--color-primary-variant);
    --tertiary: var(--color-tertiary);
    --tertiary-variant: var(--color-tertiary-variant);

    --background: var(--color-secondary);
    --foreground: var(--color-primary);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* --background: #ffffff; */
    /* --foreground: #171717; */

    --color-primary: var(--color-darkpapayawhip);
    --color-primary-variant: var(--color-darkpapayawhip-variant);

    --color-secondary: var(--color-lemonchiffon);
    --color-secondary-variant: var(--color-lemonchiffon-variant);

    --color-tertiary: var(--color-salmon);
    --color-tertiary-variant: var(--color-salmon-variant);

    --secondary: var(--color-secondary);
    --primary: var(--color-primary);
    --secondary-variant: var(--color-secondary-variant);
    --primary-variant: var(--color-primary-variant);
    --tertiary: var(--color-tertiary);
    --tertiary-variant: var(--color-tertiary-variant);

    --background: var(--color-secondary);
    --foreground: var(--color-primary);
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-secondary);
  color: var(--color-primary);
  line-height: 1.7;

}

/* ====== general styles ====== */

h1,
h2,
h3,
h4,
h5 {
  width: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

section {
  margin-top: 8rem;
  /* height: 100vh; */
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-primary);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

article {
  color: var(--color-primary);
  padding: 0.1rem 2.2rem;
}

input {
  background: var(--color-secondary);
  color: var(--color-tertiary);
  padding: 0.25rem 0.33rem;
  margin: 0.25rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
}

input:hover {
  background: var(--color-secondary-variant);
  color: var(--color-parimary-variant);
  border-color: transparent;
}

textarea {
  background: var(--color-secondary);
  color: var(--color-tertiary);
  padding: 0.25rem 0.33rem;
  margin: 0.25rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
}

textarea:hover {
  background: var(--color-secondary-variant);
  color: var(--color-parimary-variant);
  border-color: transparent;
}

button {
  width: max-content;
  display: inline;
  color: var(--color-primary);
  padding: 0.25rem 1.2rem;
  margin: 0.25rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

button:hover {
  background: var(--color-tertiary);
  color: var(--color-secondary);
  border-color: transparent;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-tertiary);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.main {
  width: var(--container-width-full);
  /* margin: 0 auto; */
}

.container {
  width: var(--container-width-full);
  margin: 0 auto;
}

/* ===== Media Queries ===== */
@media screen and (max-width: 1920px) {
  .container {
    width: var(--container-width-xl);
  }

  section {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: var(--container-width-lg);
  }

  section {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-top: 2rem;
  }
}
